.main_container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.signup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f0cbd9;
  padding: 30px;
  width: 25%;
  gap: 10px;
  border-radius: 7px;
}

.signup_form input {
  width: 60%;
  padding: 10px;
  margin-bottom: 0.5rem;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.signup_form button {
  padding: 10px 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.signup_form button:hover {
  background-color: rgb(36, 36, 36);
}

.signup_message {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

@media (max-width: 768px) {
  .signup_form {
    margin-top: 20%;
    width: 65%;
  }
  .signup_form input {
    width: 100%;
  }
}
